html{
    font-family: 'FbSpoilerRegular',Arial;
    font-size: 100%;
}
body{
    padding-top:160px;
    padding: 80px;
    padding-bottom: 0px;
    direction: rtl;
    color: #434343;
}
P{ 
    text-align: center;
    text-transform: capitalize;
}
a{    
    text-decoration-line: none;
    color: white;
}
table{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
}
.video-container{
            background-color: #efefef;
            padding-top:8px;
            padding-bottom:56px;
        }                     
.video-container iframe,              
            .video-container object,              
            .video-container embed {                         
            width: 50%; 
            display: block;
            margin-left: auto;
            margin-right: auto;    
            height: -webkit-fill-available;     
            }
ol{
    list-style: none;
}
ol li {
    counter-increment: step-counter;
    margin-bottom: 5px;
  }
  ol li::before {
    content: counter(step-counter);
    margin-right: 4%;
    margin-left: 2%;
    font-size: 80%;
    background-color: #8fb442;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 11px;
  }
 
  .toolbar, .footer{
      color: white;
      font-size: 12px;   
      background: #3e3e3e;
      padding: 1rem 0;      
      width: -webkit-fill-available;
      display: inline-flex;
  }
  .footer > label{
    width: 50%;
    margin: auto;    
    line-height: 20px
  }
  .toolbar > div{
      width: 50%;
      margin: auto;      
  }
  .toolbar > div > a{
      float: left;
      margin-top: 4%;
  }
  .image-container{
      background:rgb(40, 42, 104);
  }
  tr{
    display: -webkit-inline-box;
  }
  .seperator{
    border-top: 3px solid #8fb442 !important;
    border-width: 0;
    border-top-width: 0px;
    max-width: 6%;
    width: 100%;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}
/* .textual-area{
    max-height: 50%;
} */
.textual-area, .video-container >h2{
text-align: -webkit-center;
}
li{
    font-size: 1.563rem;
    max-width: 70%;
    line-height: 40px    
}
.mobileImg{
height: 80%;
}
  /* .centered-text{
      margin:0 20% ;
  } */
  /* .centered-text >h1{
      margin-right: 32%;
  } */