html{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
display: flex;
min-height: 100%;
padding: 0px;
padding-top:80px;
padding-bottom:16px;
width:80%;
margin: 0 auto;
}
div{
    /* -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;*/
    flex: 1;     
    min-width: 100%;     
    min-height: 100%; 
  }
div>div{
    min-height: auto;

}