html{
    font-family: 'FbSpoilerRegular',Arial;
    font-size: 100%;
}
body{
    padding-top:160px;
    padding: 80px;
    padding-bottom: 0px;
    direction: rtl;
    color: #434343;
}
table{
    text-align: -webkit-center;
}
P{ 
    text-align: center;
    text-transform: capitalize;
}
a{    
    text-decoration-line: none;
    color: white;
}
.images-container > table{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
    max-height: 50%;
}
.video-container{
            background-color: #efefef;
            padding-top:8px;
            padding-bottom:56px;
            margin-top: -20%;
            position: relative;
            z-index: 1;
        }                     
.video-container iframe,              
            .video-container object,              
            .video-container embed {                         
            width: 50%; 
            display: block;
            margin-left: auto;
            margin-right: auto;    
            height: -webkit-fill-available;     
            }
ol{
    list-style: none;
    margin-top: 10%;    
}
ol li {
    counter-increment: step-counter;
    margin-bottom: 5px;
  }
  ol li::before {
    content: counter(step-counter);
    margin-right: 4%;
    margin-left: 2%;
    font-size: 80%;
    background-color: #8fb442;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 11px;
  }
 
  .footer{
      color: white;
      font-size: 12px;   
      background: #3e3e3e;
      padding: 1rem 0;      
      width: -webkit-fill-available;
      display: inline-flex;
  }
  .toolbar{
    color: white;
    font-size: 12px;   
    background: black;    
    width: -webkit-fill-available;
    display: inline-flex;
    padding-bottom: 0.5rem;
  }
  .footer > label{
    width: 50%;
    margin: auto;    
    line-height: 20px
  }
  .toolbar > div{
      width: 50%;
      margin: auto;      
  }
  .toolbar > div > a{
      float: left;
      margin-top: 4%;
  }
  .images-container{
      background:rgb(40, 42, 104);
  }
  tr{
    display: -webkit-inline-box;
    clear: both;
  }
  .seperator{
    border-top: 3px solid #8fb442 !important;
    border-width: 0;
    border-top-width: 0px;
    max-width: 6%;
    width: 100%;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}
.textual-area, .video-container >h2{
text-align: -webkit-center;
}
li{
    font-size: 1.563rem;
    max-width: 70%;
    line-height: 40px    
}
.mobileImg{
height: 80%;
}
  .centered-text{
    display: inline-table;
    text-align: -webkit-center;
    margin-right: 20%;

  }
  .book-centered-text{
    display: inline-table;
    text-align: -webkit-center;
    margin-right: 32%;
  }
  .instructions-td{
    vertical-align: -webkit-baseline-middle;
  }
  .book-img{
      margin-right: 11%;
  }
  .imgNtext-link{
  margin: 8px;
  }
  .links-row{
      margin-right: 28%;
      margin-bottom: 3%;
      margin-top: -4%;
  }